
<h1 style="margin-left:50px; margin-top: 50px;">
  
  <a routerLink="/contact"><button class="btn btn-primary btn-lg" style="float: right; margin-right: 100px;">Contact</button></a>
  <a routerLink="/tree"><button class="btn btn-primary btn-lg" style="float: right; margin-right: 5px;">See tree</button></a>


  <input type="text" #box (keyup.enter)="addItem(box.value)">
  <div>
    <ul *ngFor="let item of message; let i = index"><li >{{item}} <button class="btn btn-danger btn-small" (click)="removeItem(i)">Delete {{ i }}</button></li></ul>
  </div>

  {{ greeting }} <br>
  <b>Items from list are fetched with Services.<br>
  Greeting is fetched with a Service.</b>
</h1>
